# ==========================================
# Скрытые файлы и кэш
# ==========================================
.git/
.env
__pycache__/
.pytest_cache/
.coverage

# ==========================================
# Виртуальное окружение (VENV)
# ==========================================
venv/
env/

# ==========================================
# Данные пользователя
# ==========================================
data/

# ==========================================
# Документация
# ==========================================
docs/